.homepage {
    main {
      background-color: #fdfdfd;
    }
    .header {
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      position: absolute;
      z-index: 99;
      display: flex;
      align-items: center;
      padding: 0 8.5%;
      padding-top: 5px;
      padding-bottom: 10px;
      justify-content: space-between;
  
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 30px;
          li {
            a {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-transform: capitalize;
  
              /* Black */
  
              color: #000000;
              text-decoration: none;
            }
          }
          .signup-btn {
            filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
            background: #ffffff;
            border-radius: 5px;
            padding: 9px 35px;
          }
          .login-btn {
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 9px 35px;
            background-color: transparent;
          }
        }
      }
    }
  
    /* HERO_IMG */
    .hero-img {
      background-color: #f5f9f0;
      position: relative;
      height: 852px;
      padding-top: 207px;
  
      .content {
        margin-left: 8%;
        max-width: 30%;
        z-index: 99;
  
        h3 {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height */
  
          text-transform: uppercase;
  
          color: rgba(0, 0, 0, 0.43);
        }
  
        h2 {
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-transform: capitalize;
          margin-top: 16px;
          color: #000000;
        }
        .signup-btn {
          margin-top: 47px;
          background: #688f4e;
          border-radius: 5px;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-transform: capitalize;
          padding: 15px 45px;
          width: fit-content;
          color: #ffffff;
        }
      }
  
      .blob {
        position: absolute;
        transform: rotate(0.15deg);
        right: -100px;
        top: 0;
        z-index: 1;
      }
  
      .img-wrap {
        z-index: 99;
        display: flex;
        gap: 30px;
        position: absolute;
        top: 0;
        right: 0;
  
        img {
          width: 60%;
          object-fit: cover;
        }
        .tl {
          transform: translateX(44%);
        }
      }
    }
  
    /* CATEGORIES */
    .category {
      padding-top: 120px;
      padding-bottom: 246px;
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
  
        text-transform: capitalize;
  
        color: #2b463c;
      }
      .list {
        margin-top: 60px;
        .item {
          padding: 35px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          flex-direction: column;
          box-shadow: inset -17px 0px 17px #f2f2f2;
          border-radius: 5px;
          img {
            width: 100px;
            height: 100px;
          }
          p {
            text-transform: capitalize;
            margin-top: 59px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */
  
            color: #000000;
          }
        }
      }
    }
    
    /* OFFER */
  
    .offer {
      .list {
        .item {
          background: #ffffff;
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 15px 44px;
          min-height: 430px;
          img {
            object-fit: cover;
            min-height: 250px;
            max-height: 250px;
          }
          h2 {
            margin-top: 12px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */
  
            color: #000000;
          }
  
          .weight {
            margin-top: 9px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
  
            color: rgba(0, 0, 0, 0.66);
          }
          .sale-price {
            margin-top: 18px;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
  
            color: #000000;
          }
          .price {
            margin-top: 23px;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-decoration-line: line-through;
  
            color: rgba(0, 0, 0, 0.63);
          }
        }
      }
    }
  
    /* BEST SELLER */
    .best-seller {
      padding-top: 84px;
      margin-top: 230px;
      background-color: #f4f1e9;
    }
  
    /* POPULAR */
    .popular {
      padding-top: 115px;
      background-color: #fdfdfd;
    }
  
    /* contact */
    .contact {
      background-color: #f4f1e9;
      padding-top: 167px;
      padding-bottom: 246px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
      display: flex;
      justify-content: flex-end;
      .content {
        margin-right: 90px;
        h2 {
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-transform: capitalize;
          width: 561px;
          color: #2b463c;
          margin-bottom: 90px;
        }
        p {
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height */
  
          letter-spacing: -0.3px;
  
          color: #2b463c;
          margin-bottom: 30px;
        }
  
        .input-wrap {
          display: flex;
          align-items: center;
          gap: 20px;
          width: 100%;
          input {
            width: 681px;
            background: #ffffff;
            border-radius: 49.8249px;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            /* identical to box height */
  
            letter-spacing: -0.204545px;
  
            color: #2b463c;
  
            mix-blend-mode: normal;
            opacity: 0.5;
            padding: 30px 50px;
          }
          .signup-btn {
            background: #688f4e;
            border-radius: 5px;
            padding: 15px 47px;
            a {
              font-weight: 400;
              font-size: 20px;
              line-height: 30px;
              text-transform: capitalize;
  
              color: #ffffff;
            }
          }
        }
      }
    }
  
    @media screen and (min-width: 1280px) {
      .hero-img {
        .blob {
          right: 0;
        }
      }
    }
  }