@import "reset";
@import "home";
@import "product-list";
@import "product-detail";
@import "cart";
@import "order-detail";
@import "order-1";
@import "signin";
@import "pass";
@import 'step';

.wrapper {
  position: relative;
  overflow: hidden;
}

.form-wrap {
  margin-bottom: 60px;
  background: #ffffff;
  box-shadow: -50px 50px 200px #f2f2f2;
  border-radius: 5px;
  margin-top: 32px;
  padding-bottom: 82px;
  padding-top: 62px;
}

.sign-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
  color: #fff;
  border-radius: 5px;
  background: #688f4e;
  font-size: 16px;
}

/* HEADER */
.header {
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 0 8.5%;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;

          /* Black */

          color: #000000;
          text-decoration: none;
        }
      }
      .signup-btn {
        filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
        border-radius: 5px;
        padding: 9px 35px;
        background-color: #fff;
      }
      .login-btn {
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 9px 35px;
        background-color: transparent;
      }
    }
  }
}

/* BACK BUTTON */

.back-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 85px;
  p {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 0;
    color: #2b463c;
  }
  i {
    font-size: 21px;
  }
}

/* TABS */
.tabs {
  display: flex;
  .tab {
    padding: 28px 128px;
    font-weight: 400;
    font-size: 22.3297px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b463c;
    border: 0.858836px solid #b1d182;
    cursor: pointer;
    border-radius: 45.0889px;
    &.active {
      color: #fff;
      border: none;
      background: #688f4e;
    }
  }
}
/* SECTION-HEADING */

.section-heading {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    color: #2b463c;
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  .prev-btn,
  .next-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #000;
  }
}
.product-list {
  margin: 0 auto;
  padding: 0px 0 164px;
  .item {
    padding: 5px 10% 18px;
    background: #ffffff;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 16px 70px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    img {
      margin: 0 auto;
      margin-bottom: 40px;
      min-height: 200px;
      max-height: 200px;
    }
    p {
      margin-top: 10px;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      color: #2b463c;
    }
    .d-flex {
      margin-top: 12px;
      img {
        width: 50px;
        height: 50px;
        margin: 0;
        max-height: unset;
        min-height: unset;
      }
    }
  }
}
.amount {
  width: 184px;
  border-radius: 25px;
  border: 1px solid #688f4e;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  input {
    width: 10px;
    border: none;
    outline: none;
  }
}

.footer {
  padding-top: 103px;
  padding-bottom: 53px;
  padding-right: 2%;
  padding-left: 5%;
  background-color: #688f4e;

  &-link {
    width: 772px;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        a {
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          /* identical to box height */

          letter-spacing: -0.204545px;

          color: #ffffff;
        }
      }
    }
  }

  .term-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    a {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      /* identical to box height */

      letter-spacing: -0.204545px;

      color: #ffffff;
    }
  }
  .social {
    display: flex;
    align-items: center;
    gap: 30px;
    i {
      color: #fff;
      font-size: 30px;
    }
  }
}

/* no product img -- order-2 */
.no-product-img {
  justify-content: center;
  display: flex;
  margin: 245px auto 104px;
  width: 100%;

  .icon {
    transform: translateY(-50%);
  }
  img {
    object-fit: contain;
  }
}
.order-2 {
  .text {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    color: #2b463c;
    margin-bottom: 362px;
  }
}

.order-3 {
  .text {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    color: #2b463c;
    margin-bottom: 362px;
  }
}


